p {
	color: rgb(125, 125, 125);
}

h6 {
	color: rgb(150, 150, 150);
}

h4 {
	color: rgb(175, 175, 175);
}

h2 {
	color: rgb(255, 255, 255);
}

.background {
	display: grid;
	background: rgb(0, 0, 0);
	justify-self: center;
}

.page-wrapper {
	background: #36393f;
	width: 1000px;
	height: 1800px;
	justify-self: center;
}

.page {
	display: grid;
	padding: 5%;
	grid-template-columns: 70% 30%;
	grid-template-rows: 300px 100%;
}

.top-card {
	display: grid;
	padding: 2.5%;
	grid-template-columns: 40% 60%;
}

.section-wrapper {
	padding: 10px;
	justify-content: left;
	text-align: left;
	display: grid;
}

.contact-section {
	background: rgb(35, 35, 35);
	padding: 10px;
	grid-template-columns: 100%;
	grid-template-rows: 20% 80%;
	justify-content: center;
	justify-self: center;
	text-align: center;
	display: grid;
}

.contact-section-content {
	display: grid;
	padding: 10px;
	grid-template-columns: 30% 70%;
	grid-template-rows: 33% 33% 34%;
	justify-content: center;
	justify-self: center;
	text-align: left;
}

.games-table {
	padding: 10px;
	justify-content: left;
	text-align: left;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px 100%;
}

.game-box {
	background: rgb(35, 35, 35);
	padding: 10px;
}

.game-section {
	background: rgb(35, 35, 35);
	padding: 10px;
	width: 200px;
}

.friends-list {
	background: rgb(35, 35, 35);
	padding: 125px;
}

.section-container {
	padding: 25px;
	justify-content: center;
	justify-self: center;
}

.profile-picture {
	border-radius: 10%;
	justify-content: center;
	width: 200px;
	height: 200px;
}